body {
	display: flex;
	min-height: 100vh;
	margin: 0;
}

#app {
	display: flex;
	flex-direction: row;
	min-height: 100%;
}

#buttonPanel {
	padding: 10px 10px 0 10px;
	background-color: #bfbfbf;
	border-radius: 10px;
	flex-grow: 0;
	flex-shrink: 0;
}

#cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-grow: 1;
}

#cardDropdown{
	display: flex;
	justify-content: center;
}

.card_filter_dropdown {
	display: flex;
	justify-content: center;
}

#cardDropdown label{
	padding-right: 5px;
}

#root{
	width: 100%;
	margin: 8px;
}

.card__title_and_price{
	display: flex;
	width: 100%;
	justify-content: space-between;
}


.card, .card--dark {
	border: 3px solid #333;
	margin: 10px 15px;
	display: flex;
	background-color: #eeeeee;
	justify-content: flex-end;
}
.card__content {
	background-color: #bfbfbf;
}

.card__title {
	padding: 10px 15px;
	font-weight: 700;
	color: #666;
	background-color: #eeeeee;
}

.card__price {
	padding: 10px 10px;
	font-weight: 700;
	color: #666;
	background-color: #eeeeee;
	text-align: end;
}

.card__price-sale {
	padding: 10px 10px;
	font-weight: 700;
	color: #2db23f;
	background-color: #eeeeee;
	text-align: end;
}

.card__body, .card__body--big {
	padding: 10px 15px;
	font-weight: 200;
	color: #333;
	flex: 0 0 20px;
	background-color: #eeeeee;
}

.card__body--big {
	font-size: 20px;
	font-weight: 700;
}

.card--dark .card__content {
	background-color: #eee;
}

.card--dark .card__title {
	background-color: #666;
	color: #bfbfbf;
}

.card--dark .card__body, .card--dark .card__body--big {
	background-color: #666;
	color: #efefef;
}

/* desktop */
@media only screen and (min-width: 1025px){
	#app {
		flex-direction: row;
	}
	#buttonPanel{
		width: 200px;
		flex-direction: column;
	}
	#cardDropdown{
		margin-bottom: 10px;
	}
	.card_filter_dropdown{
		margin-bottom: 10px;
	}

	.card, .card--dark {
		height: 330px;
		width: 330px;
		margin: 10px 15px;
		flex-direction: column;
	}
	.card__content {
		width: 100%;
		height: 220px;
		flex: 1 1 auto;
		object-fit: cover;
	}
}
/* tablet */
@media only screen and (max-width: 1024px) and (min-width: 748px){
	#app {
		flex-direction: column;
	}
	.card, .card--dark {
		 height: 330px;
		 width: 330px;
		 margin: 10px 15px;
		 flex-direction: column;
	 }

	.card_filter_dropdown label{
		padding-right: 5px;
	}

	#buttonPanel{
		display: flex;
		flex-direction: row;
		padding-bottom: 10px;
		justify-content: center;
	}

	#cardDropdown{
		margin: 0 10px;
	}
	.card__content {
		width: 100%;
		height: 220px;
		flex: 1 1 auto;
		object-fit: cover;
	}
}
/* phone */
@media only screen and (max-width: 747px){
	#app {
		flex-direction: column;
	}

	#buttonPanel{
		display: flex;
		flex-direction: row;
		padding-bottom: 10px;
		justify-content: center;
		flex-wrap: wrap;
	}
	#cardDropdown{
		margin: 0 10px;
	}


	.card_filter_dropdown label{
		padding-right: 5px;
	}

	.card, .card--dark {
		height: 100px;
		width: 100%;
		margin: 10px 15px;
		flex-direction: row;
	}
	.card__content {
		min-width: 35vw;
		height: 100%;
		flex: 1 1 auto;
		object-fit: cover;
	}
	.card__title_and_price, .card__body{
		display: flex;
		align-items: center;
	}
}
